.filter-box {
  width: 100%;
}
#kkson-crud-table td {
  white-space: nowrap;
  text-align: left;
}
.checkboxes-group {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.image-preview {
  margin: 15px 0;
  max-width: 200px;
}
.image-preview img {
  max-width: 100%;
  max-height: 300px;
}
.column-selector a {
  padding: 0 !important;
}
.column-selector a label {
  display: block;
  padding: 3px 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
div.tmpl {
  display: none!important;
}
.custom-file-input {
  cursor: pointer;
}
.dtfh-floatingparent.dtfh-floatingparent-head {
  background-color: #fff;
}
.dropdown-menu.dt-button-collection {
  overflow-y: auto!important;
  height: 50vh!important;
}
.dt-sticky-scrollbar {
  position: static;
  height: 17px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: none;
}
.dt-sticky-scrollbar.sticky {
  position: fixed;
  bottom: 0;
  top: inherit!important;
  display: block;
  z-index: 10000;
}
.dt-sticky-scrollbar div {
  height: 17px;
}
