.btnUnIndentSc[style*='display: none'] ~ .btnIndentSc, .btnIndentSc[style*='display: none'] ~ .btnCopySc {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header.sticky-top {
    position: sticky !important;
    top: 55px;
}

.table th {
    text-align: left !important;
}

.ext-dt-paging .pagination {
    margin-bottom: 0;
}

#kkson-crud-table_wrapper .buttons-colvis {
    display: none!important;
}

table.dataTable th.dt-type-numeric div.dt-column-header, table.dataTable th.dt-type-numeric div.dt-column-footer, table.dataTable th.dt-type-date div.dt-column-header, table.dataTable th.dt-type-date div.dt-column-footer, table.dataTable td.dt-type-numeric div.dt-column-header, table.dataTable td.dt-type-numeric div.dt-column-footer, table.dataTable td.dt-type-date div.dt-column-header, table.dataTable td.dt-type-date div.dt-column-footer {
    flex-direction: row;
}

.dtfc-fixed-start {
    background-color: #fff!important;
}